<% content_for :title, t('staffs.dashboard.page_title') %>
<div class="flex min-h-[calc(100vh-64px)] flex-col">
  <div class="flex flex-grow flex-col items-center justify-center">
    <div class="stats stats-vertical lg:stats-horizontal w-full-200 m-8 p-4 text-2xl shadow-lg lg:w-1/4">
      <div class="stat">
        <div class="stat-figure text-secondary">
          <i class="fa-solid fa-chalkboard-teacher"></i>
        </div>
        <div class="stat-title stat-title text-xl font-bold"><%= t('staffs.dashboard.students') %></div>
        <div class="stat-value"><%= number_with_delimiter(@student_count) %></div>
        <div class="stat-desc"><%= t('staffs.dashboard.total_students') %></div>
      </div>
      <div class="stat">
        <div class="stat-figure text-accent">
          <i class="fa-solid fa-user-tie"></i>
        </div>
        <div class="stat-title stat-title text-xl font-bold"><%= t('staffs.dashboard.total_check_ins') %></div>
        <div class="stat-value"><%= number_with_delimiter(@attendance_count) %></div>
        <div class="stat-desc">
          <%= t('staffs.dashboard.last_check_in') %>
          <%= @last_checkin.nil? ? t('staffs.dashboard.not_available') : time_ago_in_words(@last_checkin) %>
        </div>
      </div>
      <div class="stat">
        <div class="stat-figure text-secondary">
          <i class="fa-solid fa-user"></i>
        </div>
        <div class="stat-title text-xl font-bold"><%= t('staffs.dashboard.staff_details') %></div>
        <div class="stat-desc"><%= t('staffs.dashboard.name') %>: <%= @staff_details.name %></div>
        <div class="stat-desc"><%= t('staffs.dashboard.staff_id') %>: <%= @staff_details.id %></div>
      </div>
      <div class="stat">
        <div class="stat-figure text-secondary">
          <i class="fa-solid fa-school"></i>
        </div>
        <div class="stat-title text-xl font-bold"><%= t('staffs.dashboard.school_details') %></div>
        <div class="stat-desc"><%= @school_details.name %></div>
        <div class="stat-desc"><%= @school_details.address %></div>
        <div class="stat-desc"><%= @school_details.country %></div>
      </div>
    </div>
    <div class="stats stats-vertical lg:stats-horizontal w-full-200 m-8 p-4 text-2xl shadow-lg lg:w-1/4">
      <div class="stat">
        <div class="stat-figure text-secondary">
          <i class="fa-solid fa-qrcode"></i>
        </div>
        <div class="stat-title text-xl font-bold"><%= t('staffs.dashboard.check_in') %></div>
        <div class="stat-value">
          <%= link_to t('staffs.dashboard.scan_qr'), qr_index_path, class: 'btn btn-primary' %>
        </div>
      </div>
      <div class="stat">
        <div class="stat-title text-xl font-bold"><%= t('staffs.dashboard.generate_codes') %></div>
        <div class="stat-value">
          <%= link_to t('staffs.dashboard.generate_code_button'), staffs_generate_code_path, class: 'btn btn-primary' %>
        </div>
      </div>
      <div class="stat">
        <div class="stat-figure text-secondary">
          <i class="fa-solid fa-key"></i>
        </div>
        <div class="stat-title text-xl font-bold"><%= t('staffs.dashboard.manage_codes') %></div>
        <div class="stat-value">
          <%= link_to t('staffs.dashboard.manage_student_codes'), staffs_manage_codes_path, class: 'btn btn-secondary' %>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-4 flex flex-grow flex-col items-center">
    <div class="w-full rounded-lg bg-white p-6 shadow-lg lg:w-3/4">
      <div class="stat-title p-4 text-xl font-bold"><%= t('staffs.dashboard.attendance') %></div>
      <div class="overflow-x-auto"><%= render 'shared/all_students_table', q: @q %></div>
    </div>
  </div>
</div>
