<%= render 'shared/single_box' do %>
  <h1 class="break-words pb-4 text-center text-3xl font-bold">
    <%= render 'shared/logo_text' %> <span class="inline-block">Choose Role</span>
  </h1>
  <%= form_with url: set_role_path, method: :post, class: 'form-control mt-4' do |form| %>
    <div class="relative mt-2">
      <%= form.select :role,
                      options_for_select([%w[Principal principal], %w[Student student], %w[Staff staff]]),
                      {},
                      class:
                        'block appearance-none w-full bg-white border border-gray-300 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline' %>
      <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
        <svg class="h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
          <path d="M7 10l5 5 5-5H7z" />
        </svg>
      </div>
    </div>
    <%= form.submit 'Continue', class: 'btn btn-primary w-full mt-4' %>
  <% end %>
  <%= link_to 'Back to Sign In', new_session_path, class: 'btn btn-ghost w-full mt-2' %>
<% end %>
