<% content_for :title, t('students.dashboard.page_title') %>
<div class="flex min-h-[calc(100vh-64px)] flex-col">
  <div class="flex flex-grow flex-col items-center justify-center lg:flex-row">
    <div class="stats stats-vertical lg:stats-horizontal w-full-200 m-8 p-4 text-2xl shadow-lg lg:w-1/2">
      <div class="stat">
        <div class="stat-figure text-secondary">
          <i class="fa-solid fa-user"></i>
        </div>
        <div class="stat-title text-xl font-bold"><%= t('students.dashboard.student_details') %></div>
        <div class="stat-desc"><%= t('students.dashboard.name') %>: <%= @student_details.name %></div>
        <div class="stat-desc"><%= t('students.dashboard.student_id') %>: <%= @student_details.id %></div>
      </div>
      <div class="stat">
        <div class="stat-figure text-secondary">
          <i class="fa-solid fa-school"></i>
        </div>
        <div class="stat-title text-xl font-bold"><%= t('students.dashboard.school_details') %></div>
        <div class="stat-desc"><%= @school_details.name %></div>
        <div class="stat-desc"><%= @school_details.address %></div>
        <div class="stat-desc"><%= @school_details.country %></div>
      </div>
      <div class="stat">
        <div class="stat-figure text-secondary">
          <i class="fa-solid fa-qrcode"></i>
        </div>
        <div class="stat-title text-xl font-bold"><%= t('students.dashboard.qr_code') %></div>
        <div class="stat-value">
          <%= link_to t('students.dashboard.view_qr'), student_path(@student_details), class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-4 flex flex-grow flex-col items-center">
    <div class="bg-base-100 w-full rounded-lg p-6 shadow-lg lg:w-3/4">
      <div class="stat-title p-4 text-xl font-bold"><%= t('students.dashboard.attendance') %></div>
      <div class="overflow-x-auto"><%= render 'home/student_table', q: @q %></div>
    </div>
  </div>
</div>
