<%= render 'shared/notice' %>
<div class="flex justify-center"><%= render @student %></div>
<div class="mt-8 flex flex-col justify-center space-y-4 sm:flex-row sm:space-x-4 sm:space-y-0">
  <% if Current.principal? %>
    <%= link_to edit_student_path(@student), class: 'btn btn-primary' do %>
      <i class="fas fa-edit"></i> <%= t('students.show.edit_student') %>
    <% end %>
    <%= button_to student_path(@student),
                  method: :delete,
                  class: 'btn btn-error w-full',
                  data: {
                    turbo_confirm: t('students.show.confirm_destroy')
                  } do %>
      <i class="fas fa-trash"></i> <%= t('students.show.destroy_student') %>
    <% end %>
  <% end %>
  <% if Current.staff? %>
    <%= link_to edit_student_path(@student), class: 'btn btn-primary' do %>
      <i class="fas fa-edit"></i> <%= t('students.show.edit_student') %>
    <% end %>
    <%= button_to student_path(@student),
                  method: :delete,
                  class: 'btn btn-error w-full',
                  data: {
                    turbo_confirm: t('students.show.confirm_destroy')
                  } do %>
      <i class="fas fa-trash"></i> <%= t('students.show.destroy_student') %>
    <% end %>
  <% end %>
  <%= render 'shared/back_to_dashboard_button' %>
</div>
