<%= javascript_include_tag 'https://cdn.jsdelivr.net/npm/chart.js', defer: true %>
<%= javascript_include_tag 'attendance_charts', defer: true %>
<% content_for :title, t('principals.dashboard.page_title') %>

<div class="mt-8 flex flex-grow flex-col items-center">
  <div class="flex w-full flex-col justify-between gap-4 lg:w-3/4 lg:flex-row">
    <!-- First Graph Card -->
    <div class="card bg-base-100 w-full shadow-xl lg:w-1/2">
      <div class="card-body">
        <h2 class="card-title"><%= t('principals.dashboard.today_attendance') %></h2>
        <div class="p-2">
          <canvas
            id="attendancePieChart"
            data-total-students="<%= @student_count %>"
            data-attending-students="<%= @attending_students_count %>"
          ></canvas>
        </div>
      </div>
    </div>

    <!-- Second Graph Card -->
    <div class="card bg-base-100 w-full shadow-xl lg:w-1/2">
      <div class="card-body">
        <h2 class="card-title"><%= t('principals.dashboard.weekly_attendance') %></h2>
        <div class="h-full p-2">
          <canvas id="attendanceBarChart" data-attendance-data="<%= @weekly_attendance_data.to_json %>"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="flex min-h-[calc(100vh-64px)] flex-col">
  <div class="flex flex-grow flex-col items-center justify-center">
    <div class="stats stats-vertical lg:stats-horizontal mt-8 p-4 text-2xl lg:w-3/4">
      <div class="stat">
        <div class="stat-figure text-secondary">
          <i class="fa-solid fa-chalkboard-teacher"></i>
        </div>
        <div class="stat-title text-xl font-bold"><%= t('principals.dashboard.students') %></div>
        <div class="stat-value"><%= number_with_delimiter(@student_count) %></div>
        <div class="stat-desc"><%= t('principals.dashboard.total_students') %></div>
      </div>
      <div class="stat">
        <div class="stat-figure text-accent">
          <i class="fa-solid fa-user-tie"></i>
        </div>
        <div class="stat-title text-xl font-bold"><%= t('principals.dashboard.total_check_ins') %></div>
        <div class="stat-value"><%= number_with_delimiter(@attendance_count) %></div>
        <div class="stat-desc">
          <%= t('principals.dashboard.last_check_in') %>
          <%= @last_checkin.nil? ? t('principals.dashboard.not_available') : time_ago_in_words(@last_checkin) %>
        </div>
      </div>
      <div class="stat">
        <div class="stat-figure text-secondary">
          <i class="fa-solid fa-user"></i>
        </div>
        <div class="stat-title text-xl font-bold"><%= t('principals.dashboard.principal_details') %></div>
        <div class="stat-desc"><%= t('principals.dashboard.name') %>: <%= @principal_details.name %></div>
        <div class="stat-desc"><%= t('principals.dashboard.principal_id') %>: <%= @principal_details.id %></div>
      </div>
      <div class="stat">
        <div class="stat-figure text-secondary">
          <i class="fa-solid fa-school"></i>
        </div>
        <div class="stat-title text-xl font-bold"><%= t('principals.dashboard.school_details') %></div>
        <div class="stat-desc"><%= @school_details.name %></div>
        <div class="stat-desc"><%= @school_details.address %></div>
        <div class="stat-desc"><%= @school_details.country %></div>
      </div>
    </div>
    <div class="stats stats-vertical lg:stats-horizontal mt-2 p-4 text-center text-2xl shadow-lg lg:w-3/4">
      <div class="stat">
        <div class="stat-title text-xl font-bold"><%= t('principals.dashboard.enrollment_codes') %></div>
        <div class="stat-value flex flex-col space-y-3">
          <%= link_to t('principals.dashboard.generate_enrollment_codes'), generate_code_principal_path, class: 'btn btn-primary' %>
          <%= link_to t('principals.dashboard.manage_enrollment_codes'), manage_codes_principal_path, class: 'btn btn-secondary' %>
        </div>
      </div>
      <div class="stat">
        <div class="stat-title text-xl font-bold"><%= t('principals.dashboard.generate_report') %></div>
        <div class="stat-value">
          <%= link_to t('principals.dashboard.download_report'), generate_report_principals_path, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
    <div class="card bg-base-100 mt-2 w-full p-4 shadow-xl lg:w-3/4">
      <div class="px-4 py-5 sm:p-6">
        <div class="flex items-center">
          <div class="bg-primary flex-shrink-0 rounded-md p-3">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6 text-white"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z"
              />
            </svg>
          </div>
          <div class="ml-5">
            <h3 class="text-lg font-medium leading-6">Payment History</h3>
            <p class="mt-1 text-sm">View your subscription payments</p>
          </div>
        </div>
        <div class="mt-5">
          <%= link_to payment_history_path, class: 'btn btn-primary' do %>
            View Payments
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="ml-2 h-4 w-4"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
            </svg>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-4 flex flex-grow flex-col items-center">
    <div class="bg-base-100 w-full rounded-lg p-6 shadow-lg lg:w-3/4">
      <div class="stat-title p-4 text-xl font-bold"><%= t('principals.dashboard.attendance') %></div>
      <div class="overflow-x-auto"><%= render 'shared/all_students_table', q: @q %></div>
    </div>
  </div>
</div>
