<%= javascript_include_tag 'https://cdn.jsdelivr.net/npm/chart.js', defer: true %>
<%= javascript_include_tag 'attendance_charts', defer: true %>
<% content_for :title, t('principals.dashboard.page_title') %>

<div class="mt-8 flex flex-grow flex-col items-center">
  <div class="flex w-full flex-row justify-between rounded-lg bg-white p-6 shadow-lg lg:w-3/4">
    <!-- First Graph -->
    <div class="w-1/2 p-2">
      <canvas
        id="attendancePieChart"
        data-total-students="<%= @student_count %>"
        data-attending-students="<%= @attending_students_count %>"
      ></canvas>
    </div>

    <!-- Second Graph -->
    <div class="w-1/2 p-2">
      <canvas id="attendanceBarChart" data-attendance-data="<%= @weekly_attendance_data.to_json %>"></canvas>
    </div>
  </div>
</div>

<div class="flex min-h-[calc(100vh-64px)] flex-col">
  <div class="flex flex-grow flex-col items-center justify-center">
    <div class="stats stats-vertical lg:stats-horizontal mt-8 p-4 text-2xl lg:w-3/4">
      <div class="stat">
        <div class="stat-figure text-secondary">
          <i class="fa-solid fa-chalkboard-teacher"></i>
        </div>
        <div class="stat-title text-xl font-bold"><%= t('principals.dashboard.students') %></div>
        <div class="stat-value"><%= number_with_delimiter(@student_count) %></div>
        <div class="stat-desc"><%= t('principals.dashboard.total_students') %></div>
      </div>
      <div class="stat">
        <div class="stat-figure text-accent">
          <i class="fa-solid fa-user-tie"></i>
        </div>
        <div class="stat-title text-xl font-bold"><%= t('principals.dashboard.total_check_ins') %></div>
        <div class="stat-value"><%= number_with_delimiter(@attendance_count) %></div>
        <div class="stat-desc">
          <%= t('principals.dashboard.last_check_in') %>
          <%= @last_checkin.nil? ? t('principals.dashboard.not_available') : time_ago_in_words(@last_checkin) %>
        </div>
      </div>
      <div class="stat">
        <div class="stat-figure text-secondary">
          <i class="fa-solid fa-user"></i>
        </div>
        <div class="stat-title text-xl font-bold"><%= t('principals.dashboard.principal_details') %></div>
        <div class="stat-desc"><%= t('principals.dashboard.name') %>: <%= @principal_details.name %></div>
        <div class="stat-desc"><%= t('principals.dashboard.principal_id') %>: <%= @principal_details.id %></div>
      </div>
      <div class="stat">
        <div class="stat-figure text-secondary">
          <i class="fa-solid fa-school"></i>
        </div>
        <div class="stat-title text-xl font-bold"><%= t('principals.dashboard.school_details') %></div>
        <div class="stat-desc"><%= @school_details.name %></div>
        <div class="stat-desc"><%= @school_details.address %></div>
        <div class="stat-desc"><%= @school_details.country %></div>
      </div>
    </div>
    <div class="stats stats-vertical lg:stats-horizontal mt-2 p-4 text-center text-2xl shadow-lg lg:w-3/4">
      <div class="stat">
        <div class="stat-title text-xl font-bold"><%= t('principals.dashboard.generate_codes') %></div>
        <div class="stat-value">
          <%= link_to t('principals.dashboard.generate_enrollment_codes'), generate_code_principal_path, class: 'btn btn-primary' %>
        </div>
      </div>
      <div class="stat">
        <div class="stat-title text-xl font-bold"><%= t('principals.dashboard.generate_report') %></div>
        <div class="stat-value">
          <%= link_to t('principals.dashboard.download_report'), generate_report_principals_path, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-4 flex flex-grow flex-col items-center">
    <div class="w-full rounded-lg bg-white p-6 shadow-lg lg:w-3/4">
      <div class="stat-title p-4 text-xl font-bold"><%= t('principals.dashboard.attendance') %></div>
      <div class="overflow-x-auto"><%= render 'shared/all_students_table', q: @q %></div>
    </div>
  </div>
</div>
