<table class="table-zebra table">
  <thead>
    <tr>
      <th><%= sort_link(q, :name, 'Name') %></th>
      <th><%= sort_link(q, :date, 'Date') %></th>
      <th><%= sort_link(q, :check_in_time, 'Check In Time') %></th>
    </tr>
  </thead>
  <tbody>
    <% @attendance_history.each do |attendance| %>
      <tr class="hover">
        <td><%= attendance.student.name %></td>
        <td><%= attendance.timestamp.strftime('%Y-%m-%d') %></td>
        <td><%= attendance.timestamp.strftime('%H:%M:%S') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
