<table class="table-zebra table">
  <thead>
    <tr>
      <th><%= sort_link(q, :name, t('tables.student.name')) %></th>
      <th><%= sort_link(q, :date, t('tables.student.date')) %></th>
      <th><%= sort_link(q, :check_in_time, t('tables.student.check_in_time')) %></th>
    </tr>
  </thead>
  <tbody>
    <% @attendance_history.each do |attendance| %>
      <tr class="hover">
        <td><%= attendance.student.name %></td>
        <td><%= l(attendance.timestamp, format: :date_only) %></td>
        <td><%= l(attendance.timestamp, format: :time) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
