<head>
  <title>Subscriptions</title>
  <script
    src="https://cdn.omise.co/omise.js"
    integrity="sha384-Ue+Uj0J/1ZGITiuYUvQgZGRWgS8ZuGIbVslPEqNh8EDJviXdDh2uWdudKLcFQBcm"
    crossorigin="anonymous"
    defer
  ></script>
</head>

<% content_for :title, t('subscriptions.index.page_title') %>
<div class="flex min-h-screen px-[40px] pt-[30px]">
  <div class="min-w-full">
    <div>
      <p class="text-[15px] font-medium leading-[27px] text-[#717F87]"><%= t('subscriptions.index.select_plan') %></p>
    </div>

    <div class="mt-[20px] grid grid-cols-3 gap-[20px]">
      <div
        key="1"
        class="shadow-[0px 1px 2px #E1E3E5] w-full divide-y rounded-[10px] border border-[#E1E3E5] bg-[#fff]"
      >
        <div class="px-[25px] pb-[25px] pt-[15px]">
          <div class="flex justify-end">
            <div class="align-center flex justify-center rounded-[20px] bg-[#F6F6F7] px-[12px]">
              <p class="text-[12px] font-bold leading-[28px] text-[#00153B]"><%= t('subscriptions.index.starter') %></p>
            </div>
          </div>

          <div>
            <p class="text-[19px] font-bold leading-[24px] text-[#00153B]"><%= t('subscriptions.index.trial') %></p>
            <p class="text-[50px] font-bold leading-[63px] text-[#00153B]"><%= t('subscriptions.index.free') %></p>
          </div>

          <div>
            <p class="text-[18px] font-medium leading-[28px] text-[#717F87]">
              <%= t('subscriptions.index.trial_students', count: 200) %>
            </p>
            <p class="text-[18px] font-medium leading-[28px] text-[#717F87]">
              <%= t('subscriptions.index.trial_days', count: 30) %>
            </p>
          </div>
        </div>

        <div class="px-[25px] pb-[35px] pt-[25px]">
          <div>
            <p class="text-[14px] font-medium leading-[24px] text-[#717F87]">
              <%= t('subscriptions.index.features.attendance') %>
            </p>
            <p class="text-[14px] font-medium leading-[24px] text-[#717F87]">
              <%= t('subscriptions.index.features.qr_scanner') %>
            </p>
            <p class="text-[14px] font-medium leading-[24px] text-[#717F87]">
              <%= t('subscriptions.index.features.enrollment') %>
            </p>
            <p class="text-[14px] font-medium leading-[24px] text-[#717F87]">
              <%= t('subscriptions.index.features.invoice') %>
            </p>
          </div>

          <div class="mt-[25px]">
            <button
              class="select-tier rounded-[5px] bg-[#006EF5] px-[25px] py-[15px] text-[14px] font-semibold leading-[17px] text-[#fff] hover:bg-sky-700"
              data-amount="0"
              data-tier="trial"
            >
              <%= t('subscriptions.index.try_free') %>
            </button>
          </div>
        </div>
      </div>

      <div
        key="2"
        class="shadow-[0px 1px 2px #E1E3E5] w-full divide-y rounded-[10px] border border-[#E1E3E5] bg-[#fff]"
      >
        <div class="px-[25px] pb-[25px] pt-[15px]">
          <div class="flex justify-end">
            <div class="align-center flex justify-center rounded-[20px] bg-[#F6F6F7] px-[12px]">
              <p class="text-[12px] font-bold leading-[28px] text-[#00153B]"><%= t('subscriptions.index.value') %></p>
            </div>
          </div>

          <div>
            <p class="text-[19px] font-bold leading-[24px] text-[#00153B]">
              <%= t('subscriptions.index.fast_start') %>
            </p>
            <div class="flex items-baseline">
              <p class="text-[45px] font-bold leading-[63px] text-[#00153B]">$500</p>
              <span class="text-[20px] font-medium leading-[25px] text-[#00153B]"
                ><%= t('subscriptions.index.per_month') %></span
              >
            </div>
          </div>

          <div>
            <p class="text-[18px] font-medium leading-[28px] text-[#717F87]">
              <%= t('subscriptions.index.std_students', count: 500) %>
            </p>
            <p class="text-[18px] font-medium leading-[28px] text-[#717F87]">
              <%= t('subscriptions.index.price_per_student', price: '$1.00') %>
            </p>
          </div>
        </div>

        <div class="px-[25px] pb-[35px] pt-[25px]">
          <div>
            <p class="text-[14px] font-medium leading-[24px] text-[#717F87]">
              <%= t('subscriptions.index.features.attendance') %>
            </p>
            <p class="text-[14px] font-medium leading-[24px] text-[#717F87]">
              <%= t('subscriptions.index.features.qr_scanner') %>
            </p>
            <p class="text-[14px] font-medium leading-[24px] text-[#717F87]">
              <%= t('subscriptions.index.features.enrollment') %>
            </p>
            <p class="text-[14px] font-medium leading-[24px] text-[#717F87]">
              <%= t('subscriptions.index.features.invoice') %>
            </p>
          </div>

          <div class="mt-[25px]">
            <button
              class="select-tier rounded-[5px] bg-[#006EF5] px-[25px] py-[15px] text-[14px] font-semibold leading-[17px] text-[#fff] hover:bg-sky-700"
              data-amount="50000"
              data-tier="standard"
            >
              <%= t('subscriptions.index.buy_now') %>
            </button>
          </div>
        </div>
      </div>

      <div
        key="3"
        class="shadow-[0px 1px 2px #E1E3E5] w-full divide-y rounded-[10px] border border-[#E1E3E5] bg-[#fff]"
      >
        <div class="px-[25px] pb-[25px] pt-[15px]">
          <div class="flex justify-end">
            <div class="align-center flex justify-center rounded-[20px] bg-[#F6F6F7] px-[12px]">
              <p class="text-[12px] font-bold leading-[28px] text-[#00153B]"><%= t('subscriptions.index.pro') %></p>
            </div>
          </div>

          <div>
            <p class="text-[19px] font-bold leading-[24px] text-[#00153B]">
              <%= t('subscriptions.index.accelerate') %>
            </p>
            <div class="flex items-baseline">
              <p class="text-[45px] font-bold leading-[63px] text-[#00153B]">$800</p>
              <span class="text-[20px] font-medium leading-[25px] text-[#00153B]"
                ><%= t('subscriptions.index.per_month') %></span
              >
            </div>
          </div>

          <div>
            <p class="text-[18px] font-medium leading-[28px] text-[#717F87]">
              <%= t('subscriptions.index.premium_students', count: 1000) %>
            </p>
            <p class="text-[18px] font-medium leading-[28px] text-[#717F87]">
              <%= t('subscriptions.index.price_per_student', price: '$0.8') %>
            </p>
          </div>
        </div>

        <div class="px-[25px] pb-[35px] pt-[25px]">
          <div>
            <p class="text-[14px] font-medium leading-[24px] text-[#717F87]">
              <%= t('subscriptions.index.features.attendance') %>
            </p>
            <p class="text-[14px] font-medium leading-[24px] text-[#717F87]">
              <%= t('subscriptions.index.features.qr_scanner') %>
            </p>
            <p class="text-[14px] font-medium leading-[24px] text-[#717F87]">
              <%= t('subscriptions.index.features.enrollment') %>
            </p>
            <p class="text-[14px] font-medium leading-[24px] text-[#717F87]">
              <%= t('subscriptions.index.features.invoice') %>
            </p>
          </div>
          <div class="mt-[25px]">
            <button
              class="select-tier rounded-[5px] bg-[#006EF5] px-[25px] py-[15px] text-[14px] font-semibold leading-[17px] text-[#fff] hover:bg-sky-700"
              data-amount="80000"
              data-tier="premium"
            >
              <%= t('subscriptions.index.buy_now') %>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Hidden checkout form -->
<form id="checkoutForm" action="/charge" method="post" class="hidden">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="hidden" name="amount" id="amount" value="" />
  <input type="hidden" name="tier" id="tier" value="" />
  <input type="hidden" name="omiseToken" value="" />
  <input type="hidden" name="omiseSource" value="" />
</form>

<!-- Payment Result Modal -->
<div id="paymentModal" class="fixed inset-0 z-50 flex hidden items-center justify-center bg-gray-900 bg-opacity-50">
  <div class="w-full max-w-md rounded-lg bg-white p-6 shadow-lg">
    <h2 class="mb-4 text-xl font-bold"><%= t('subscriptions.index.payment_status') %></h2>
    <p id="paymentModalBody" class="text-gray-700"></p>
    <div class="mt-6 flex justify-end">
      <button
        class="rounded bg-blue-500 px-4 py-2 text-white hover:bg-blue-600"
        onclick="document.getElementById('paymentModal').classList.add('hidden')"
      >
        <%= t('subscriptions.index.close') %>
      </button>
    </div>
  </div>
</div>

<script>
  async function loadOmiseAPI() {
    return new Promise((resolve, reject) => {
      if (typeof OmiseCard !== 'undefined') {
        return resolve()
      }
      const script = document.createElement('script')
      script.src = 'https://cdn.omise.co/omise.js'
      script.integrity = 'sha384-Ue+Uj0J/1ZGITiuYUvQgZGRWgS8ZuGIbVslPEqNh8EDJviXdDh2uWdudKLcFQBcm'
      script.crossOrigin = 'anonymous'
      script.onload = resolve
      script.onerror = reject
      document.head.appendChild(script)
    })
  }
  async function initializePayment() {
    await loadOmiseAPI()
    OmiseCard.configure({ publicKey: 'pkey_test_62unknn2ef7aol8k7nm' })

    document.querySelectorAll('.select-tier').forEach((button) => {
      button.addEventListener('click', (event) => {
        const amount = event.target.getAttribute('data-amount')
        const tier = event.target.getAttribute('data-tier')

        document.getElementById('amount').value = amount
        document.getElementById('tier').value = tier

        if (amount === '0') {
          document.getElementById('checkoutForm').submit()
        } else {
          OmiseCard.open({
            amount: parseInt(amount),
            currency: 'USD',
            defaultPaymentMethod: 'credit_card',
            onCreateTokenSuccess: (nonce) => {
              if (nonce.startsWith('tokn_')) {
                document.querySelector('input[name="omiseToken"]').value = nonce
                // redirect to success modal
              } else {
                document.querySelector('input[name="omiseSource"]').value = nonce
              }
              document.getElementById('checkoutForm').submit()
            }
          })
        }
      })
    })
  }

  document.getElementById('checkoutForm').addEventListener('submit', (event) => {
    event.preventDefault()

    document.getElementById('paymentModalBody').innerText = '<%= t('subscriptions.index.processing_payment') %>'
    document.getElementById('paymentModal').classList.remove('hidden')

    fetch(event.target.action, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/x-www-form-urlencoded',
        'X-CSRF-Token': document.querySelector('input[name="authenticity_token"]').value
      },
      body: new URLSearchParams(new FormData(event.target))
    })
      .then((response) => {
        // Hide the loading indicator
        document.getElementById('paymentModal').classList.add('hidden')

        // Replace the entire page content with the response from the server
        return response.text().then((html) => {
          document.body.innerHTML = html
        })
      })
      .catch((error) => {
        document.getElementById('paymentModal').classList.add('hidden')
        alert('<%= t('subscriptions.index.network_error') %>: ' + error.message)
      })
  })

  document.addEventListener('turbo:load', function () {
    initializePayment()
  })
</script>
