<div id="<%= dom_id attendance %>">
  <p>
    <strong><%= t('attendances.attendance.student') %>:</strong>
    <%= attendance.student ? attendance.student.name : attendance.student_id %>
  </p>

  <p>
    <strong><%= t('attendances.attendance.timestamp') %>:</strong>
    <%= attendance.timestamp %>
  </p>

  <p>
    <strong><%= t('attendances.attendance.user') %>:</strong>
    <%= attendance.user_id %>
  </p>
</div>
