<%= form_with(model: attendance, class: 'w-full max-w-lg mx-auto p-4') do |form| %>
  <% if attendance.errors.any? %>
    <div class="alert alert-error mb-4 shadow-lg">
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6 flex-shrink-0 stroke-current"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
          />
        </svg>
        <div class="">
          <h3 class="font-bold">
            <%= pluralize(attendance.errors.count, 'error') %> prohibited this attendance from being saved:
          </h3>
          <ul class="list-inside list-disc">
            <% attendance.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
  <fieldset class="fieldset w-xs bg-base-200 border-base-300 rounded-box border p-4">
    <%# <legend class="fieldset-legend">Attendance Details</legend> %>
    <div class="form-control mb-4 w-full">
      <%= form.label :student_id, class: 'fieldset-label' %>
      <%= form.text_field :student_id, class: 'input input-bordered w-full' %>
    </div>
    <div class="form-control mb-4 w-full">
      <%= form.label :timestamp, class: 'fieldset-label' %>
      <%= form.datetime_field :timestamp, class: 'input input-bordered w-full' %>
    </div>
    <div class="form-control mb-4 w-full">
      <%= form.label :user_id, class: 'fieldset-label' %>
      <%= form.text_field :user_id, class: 'input input-bordered w-full' %>
    </div>
    <div class="form-control mb-4 w-full">
      <%= form.label :status, class: 'fieldset-label' %>
      <%= form.text_field :status, class: 'input input-bordered w-full' %>
    </div>
    <div class="form-control mt-6"><%= form.submit class: 'btn btn-primary w-full' %></div>
  </fieldset>
<% end %>
