<table class="table-zebra table">
  <thead>
    <tr>
      <th><%= sort_link(@q, :student_name, t('attendances.table.student')) %></th>
      <th><%= sort_link(@q, :timestamp, t('attendances.table.timestamp')) %></th>
      <th><%= sort_link(@q, :user_id, t('attendances.table.user_id')) %></th>
      <th><%= t('attendances.table.action') %></th>
    </tr>
  </thead>
  <tbody>
    <% @attendances.each do |attendance| %>
      <tr>
        <td><%= attendance.student.name if attendance.student %></td>
        <td><%= l(attendance.timestamp, format: :long) if attendance.timestamp %></td>
        <td><%= attendance.user_id %></td>
        <td>
          <%= link_to attendance, class: 'hover:text-blue-500 text-blue-700' do %>
            <i class="fas fa-eye" title="<%= t('attendances.table.view_title') %>"></i>
            <%= t('attendances.table.view') %>
          <% end %>
          <%= link_to edit_attendance_path(attendance), class: 'hover:text-yellow-500 text-yellow-700' do %>
            <i class="fas fa-edit" title="<%= t('attendances.table.edit_title') %>"></i>
            <%= t('attendances.table.edit') %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
