<p style="color: green"><%= notice %></p>
<% content_for :title, 'Attendances' %>
<div class="flex justify-end p-2"><%= link_to 'New Attendance', new_attendance_path, class: 'btn btn-primary' %></div>
<div data-controller="search">
  <div class="flex items-center justify-center"><%== pagy_nav(@pagy) %></div>
  <div id="attendances" class="m-2 overflow-x-auto">
    <%# TODO: IMPROVE SEARCH %>
    <%= search_form_for @q,
                        url: attendances_path(format: :js),
                        method: :get,
                        html: {
                          class: 'mb-4',
                          data: {
                            search_target: 'form',
                            action: 'input->search#search'
                          }
                        } do |f| %>
      <div class="flex items-center space-x-2">
        <%= f.label :student_id_eq, 'Student ID', class: 'mr-2' %>
        <%= f.search_field :student_id_eq, class: 'form-control border-2 border-gray-300 rounded p-2' %>
      </div>
    <% end %>
    <div data-search-target="results"><%= render 'table', attendances: @attendances, q: @q %></div>
    <%# TOFIX: ERROR WHEN SORTING BY AFTER SEARCH %>
  </div>
  <div class="flex items-center justify-center"><%== pagy_nav(@pagy) %></div>
</div>
