<% if notice %>
  <div class="alert alert-success mb-4 shadow-lg">
    <div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6 flex-shrink-0 stroke-current"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
        />
      </svg>
      <span><%= notice %></span>
    </div>
  </div>
<% end %>
<div class="container mx-auto px-4">
  <div class="card bg-base-100 shadow-xl">
    <div class="card-body">
      <%= render @attendance %>
      <div class="card-actions mt-4 justify-center md:justify-end">
        <%= link_to t('attendances.show.edit_button'), edit_attendance_path(@attendance), class: 'btn btn-primary' %>
        <%= button_to t('attendances.show.delete_button'),
                      @attendance,
                      method: :delete,
                      class: 'btn btn-error',
                      form: {
                        data: {
                          turbo_confirm: t('attendances.show.confirm_delete')
                        }
                      } %>
        <%= link_to t('attendances.show.back_button'), attendances_path, class: 'btn btn-ghost' %>
      </div>
    </div>
  </div>
</div>
